# Regras Específicas do Projeto de Compiladores

# Arquivos compilados do Java
*.class

# Arquivos de backup do editor (ex: nome~ )
*~

# Arquivos de scanner gerados pelo JFlex (não devem ser versionados)
calculadora/src/CalcScanner.java
minijava/src/MiniJavaScanner.java

# Regras Padrão de IDEs

### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store